@media (max-width: 768px) {
    .container {
        width: 100%;   
        max-width: 768px;
        padding: 0rem 2rem;
        margin: 0 auto;
    }

    .header {       
        padding: 0 1.4rem; 
        height: 2.5rem;
        margin-bottom: 2.8rem;
    }

    .btn-connect {
        margin: 0 -1.8rem 0 0;
    }

    .core-section {
        position: relative;
        max-width: 100%;      
        min-height: 25rem;        
        background-size: cover;  
        background-position: center center;
        padding: 1.1rem 0 0 0.4rem;
        margin: 0 auto;
    }

    .hero-text {
        max-width: 22rem;          
    }

    .hero-text__title {
        font-size: 2.5rem;   
    }

    .qr-code {
        position: absolute;
        bottom: 1.5rem;
        left: 1.6rem;       
    }
}