@media (max-width: 768px) {
    .container {
        width: 100%;   
        max-width: 768px;
        padding: 0rem 2rem;
        margin: 0 auto;
    }

    .header {       
        padding: 0 1.4rem; 
        height: 2.5rem;
        margin-bottom: 2.8rem;
    }

    .btn-connect {
        margin: 0 -1.8rem 0 0;
    }

    .core-section {
        position: relative;
        max-width: 100%;      
        min-height: 25rem;        
        background-size: cover;  
        background-position: center center;
        padding: 1.1rem 0 0 0.4rem;
        margin: 0 auto;
    }

    .hero-text {
        max-width: 22rem;          
    }

    .hero-text__title {
        font-size: 2.5rem;   
    }

    .qr-code {
        position: absolute;
        bottom: 1.5rem;
        left: 1.6rem;       
    }

    .features-section {
        margin-top: 6.2rem;
    }

    .features-grid {
        grid-template-columns: 1fr;  
        gap: 1.25rem;                
        justify-items: center;      
    }

    .features-card {
        max-width: 39rem;
        padding: 3.5rem 2.5rem 4rem 2.5rem;;
    }

    .features-card__icon {
        margin: 0 0 1.3rem 0;
    }

    .features-card .features-card__title {
        margin: 0 auto 6.5rem auto;
    }


    .info-banner {
        padding: 1.5rem 0 1.6rem 1.9rem;
        margin-bottom: 4.8rem;
    }

    .phones-grid {
        display: flex;
        flex-direction: row;
        overflow-x: auto; 
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        gap: 3.7rem;
        width: 100%;
        padding-top: 5.3rem;
        margin-top: -2.8rem;
    }
    
    .phones-header {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;    
        gap: 2.2rem;
        margin-bottom: 7rem;
    }

    .phones-header__title, 
    .phones-header__subtitle {
        padding: 0;
        text-align: left;
    }

    .phone-card {
        min-width: 100%; 
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .phones-info {
        width: auto; 
        max-width: none;
        margin: 3rem -1.875rem 5rem;    
        padding: 0 1rem;
    }
    
}